<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Store:</strong>
  <%= @product.store_id %>
</p>

<%= link_to 'Edit', edit_store_product_path(@store, @product) %> |
<%= link_to 'Back', store_products_path(@store) %>
